/* 폰트 설정 */
@font-face {
    font-family: 'YanoneKaffeesatz_Bold';
    src: url("../fonts/YanoneKaffeesatz-Bold.ttf");
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url("../fonts/Y\ 너만을\ 비춤체.ttf");
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: url(../fonts/NotoSansKR-Light.otf);
    src: url(../fonts/NotoSansKR-Regular.otf);
    src: url(../fonts/NotoSansKR-Medium.otf);
    src: url(../fonts/NotoSansKR-Bold.otf);
    font-weight: normal;
    font-style: normal;
}
/* GNB 반응형 구현 */

@media screen {
    
}


/* 태그별 공통 적용 */
body{
    margin: 0;
    background-color: #000;
    height: 7774px;
}
